<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="http://localhost:5000/check_" method="POST">
    <p>
<input type="radio" name="options" id="ground" value="ground"> ground <br>
<input type="radio" name="options" id="library" value="library"> library <br>
<input type="radio" name="options" id="labs" value="labs"> labs <br>
</p>
    <p><input type=submit value="Search for resources"></p>

    </form>
<!--<button href="http://localhost:5000/check_"></button>-->
</body>
</html>