<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Availability Table</title>
</head>
<body>
    <table>
        <tr>
            <th> Date </th>
            {% for slot in slots %}
                <th>{{slot}}</th>
            {% endfor %}
        </tr>
        {% for i in range(5) %}
            <tr>
                <td>
                    {{ date+i }}
                </td>
                {% for j in range(6) %}
                    <td style="color:green">
                        {% if [i,j] in result %}
                        <form action="http://localhost:5000/book_now" method="POST">
                            <input type="hidden" name="req_resource" value={{req_resource}}>
                            <input type="hidden" name="date" value={{date+i}}>
                            <input type="hidden" name="slot" value={{slots[j]}}>
                            <button type="submit">Book Now</button>
                        </form>
                        {% else %}
                        Booked
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>